.section {
  width: 100%;
  padding: 96px 0;
}

.competencesDescription {
    grid-column: 8 / -1;
}

.competencesList {
  display: grid;
  gap: 48px;
  grid-template-columns: repeat(2, 1fr);
  grid-column: 6 / -1;
  margin-top: 96px;
}

/* @media (min-width: 768px) {
  .competencesList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .competencesList {
    grid-template-columns: repeat(4, 1fr);
  }
} */


@media (max-width: 1023px) {
  .competencesDescription {
    grid-column: 1 / 7;
  }

  .competencesList {
    grid-column: 1 / -1;
  }
}

@media (min-width: 1280px) {
  .section {
    padding: 96px 0 0 0;
  }
}

@media (max-width: 1023px) {
  .section {
    padding: 48px 0 0 0;
  }
  .competencesList {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .competencesDescription {
    grid-column: 1 / -1;
  }

  .competencesList {
    grid-template-columns: 1fr;
    gap: 24px;
  }

  .competencesList :global(li > h3) {
    font-size: 24px;
  }
}

.competencesList :global(li > span:first-of-type) {
  font-weight: 500;
}