.cta {
    padding: 96px 0;
}

.ctaContent {
    min-height: 180px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        gap: 24px;
}

.ctaTitle {
    font-size: 36px;
    font-weight: 400;
}

.ctaButton {
    padding: 12px 24px;
    font-size: 16px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    /* padding: 16px 32px;
    border-radius: 999px;
    border: none;
    background: #f5c655;
    color: #000000;
    font-size: 14px;
    font-weight: 600; */
    cursor: pointer;
}