.preContacts {
    padding: 72px 0;
}

.preContactsContent {
    min-height: 210px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.preContactsTitle {
    font-size: 48px;
    text-align: center;
    font-weight: 400;
}

@media screen and (max-width: 768px) {
    .preContactsTitle {
        font-size: 32px;
    }
}

@media screen and (max-width: 767px) {
    .preContacts {
        padding: 48px 0;
    }
    .preContactsTitle {
        text-align: left;
        /* font-size: 24px; */
    }
}