.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.label {
  align-self: stretch;
  padding-bottom: 8px;
  border-bottom: 1px solid #c1c4c4;
  font-size: inherit;
  font-weight: 400;
}

.headline {
  margin: 24px 0;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.1;
}

.description {
  line-height: 1.5;
  min-height: 72px;
  max-width: 280px;
}
