.heading {
  margin: 0;
  font-weight: 400;
  line-height: 1.2;
  font-size: 28px;
  /* font-family: var(--font-heading), ui-sans-serif, system-ui, sans-serif; */
}

.accent {
  color: #787975;
  font-weight: 400;
  /* font-family: var(--font-heading), ui-sans-serif, system-ui, sans-serif; */
}

@media screen and (max-width: 768px) {
  .heading {
    font-size: 24px;
  }
}
